.background {
  background-image: url("/mainBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;

  div {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #3f4749 0%, rgba(0, 0, 0, 0) 100%);
    border-bottom: none;
  }
}

.main {
  z-index: 0;
  margin-top: 10rem;
}

.firstSection {
  display: flex;
  margin-bottom: 4rem;
  padding-right: 5rem;
}

.textContent {
  width: 60%;
  padding-left: 7rem;
  margin-top: 4rem;

  h1 {
    color: var(--neutral-0);
    font-size: 6.4rem;
    margin-bottom: 1rem;

    span {
      color: var(--primary-100);
    }
  }

  p {
    color: var(--neutral-0);
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 2;

  button, a {
    color: var(--neutral-0);
    border: 1px solid var(--primary-100);
    border-radius: 2.5rem;
    padding: 1.2rem 2.4rem;
    background: var(--primary-100);
    width: 20rem;
    margin-right: 1.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;

    &:last-child {
      background: rgba(46, 130, 55, 0.21);
    }

    &:hover {
      scale: 1.05;
    }
  }
}

.imgContent {
  display: flex;
  justify-content: center;
  padding: 0 5rem;
  align-items: flex-start;

  img {
    width: 90%;
    height: auto;
  }
}

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: var(--neutral-0);

    span {
      color: var(--primary-100);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2rem;
  }
}

.box {
  color: var(--neutral-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-bottom: 2rem;

  div {
    width: 10rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    font-size: 1.8rem;
    text-align: center;
  }
}
