.header {
  border-bottom: 1px solid var(--primary-100);
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}

.description {
  font-size: 1.4rem;
  text-align: justify;
  border-bottom: 1px solid var(--primary-100);
  padding-bottom: 1rem;
}

.form {
  overflow-y: scroll;
  padding-right: 1rem;
  margin-top: 1rem;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--neutral-500);
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primary-100);
    border-radius: 1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-300);
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  input,
  select,
  option {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--neutral-500);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--neutral-900);
    color: var(--neutral-50);
    transition: all 0.3s ease-in-out;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      border-color: var(--primary-100);
    }
  }
}

.row {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.controls {
  width: 100%;
  text-align: center;

  button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--primary-100);
    color: var(--neutral-50);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

.loading {
  position: relative;
  height: 100%;
  width: 100%;

  svg {
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
  }
}

.answerContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    p{
        font-size: 1.8rem;
        width: 80%;
        text-align: center;
        margin-bottom: 2rem;
    }

    a {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        background-color: var(--primary-100);
        color: var(--neutral-50);
        border: none;
        font-size: 1.5rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    
        &:hover {
          cursor: pointer;
          scale: 1.05;
        }
      }
}
