.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;

  h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--neutral-0);

    span {
      color: var(--primary-100);
    }
  }

  nav {
    // width: 40%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        font-size: 1.5rem;
        color: var(--neutral-0);
        margin-left: 4rem;

        a {
          &,
          &:after,
          &:before {
            transition: all 0.5s;
          }
        }

        button {
          font-size: 1.5rem;
          background-color: var(--primary-300);
          border-radius: 2rem;
          border: none;
          padding: 0.8rem 2.5rem;
          color: var(--neutral-0);
          transition: 300ms;

          &:hover {
            scale: 1.05;
          }
        }
      }

      p {
        background-color: var(--primary-300);
        border-radius: 2rem;
        padding: 0.8rem 2.5rem;
      }
    }
  }
}

.stroke {
  a {
    position: relative;

    &:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: var(--primary-100);
      height: 2px;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.active {
  position: relative;

  &:after {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    content: ".";
    color: transparent;
    background: var(--primary-100);
    height: 2px;
  }
}

.userIcon {
  width: 6rem;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    scale: 1.05;
  }

  img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--primary-100);
  }
}

.dropdownMenu {
  position: absolute;
  top: 10rem;
  right: 2rem;
  background-color: var(--neutral-0);
  border-radius: 1rem;
  padding: 1rem 2rem;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 2rem;
    height: 2rem;
    width: 2rem;
    background: var(--neutral-0);
    transform: rotate(45deg);
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0;
    font-weight: 500;
    color: var(--neutral-900);
    line-height: 1.2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start!important;

    li {
      padding: 1rem 0;
      color: var(--neutral-900) !important;
      transition: 300ms;
      margin: 0!important;

      &:hover {
        scale: 1.05;
        cursor: pointer;
      }

      &:hover a {
        cursor: pointer;
      }

      &:hover svg {
        opacity: 1;
        cursor: pointer;
      }

      a {
        &:hover:after {
          width: 0% !important;
        }
      }
    }
  }
}

.dropdownItem {
  display: flex;
  margin: 1rem auto;

  svg {
    max-width: 2rem;
    margin-right: 1rem;
    opacity: 0.5;
    transition: 300ms;
  }

  a {
    max-width: 10rem;
    margin-left: 1rem;
    transition: 300ms;
  }
}

.dropdownMenu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 300ms ease;
}

.dropdownMenu.closed {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
  transition: 300ms ease;
}
